<!doctype html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/less.js/2.0.0/less.min.js" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" id="sidebar-view">
          {% block sidebar %}
          {% endblock %}        
        </div>
        <div class="col-md-5" id="results-view">
        {% block results %}
        {% endblock %}
        </div>
        <div class="col-md-5" id="docviewer-view"></div>
      </div>
    </div>
  </body>
</html>