{% extends 'base.html' %}

{% block sidebar %}
  <div class="search-window">
    <div class="search-text">
      <span class>Search</span>
      <span>here</span>
    </div>
    <form class="search-input" type="get" action=".">
      <input type="text" name="q">
      <button type="submit">SEARCH</button>
    </form>
  </div>
{% endblock %}

{% block results %}
<div id="results-header">
  <h1>Results</h1>
  <div class="cards-type">
    <input type="button" class="btn btn-default" value="Cozy" onclick="cssChangeStyle('normal');" />
    <input type="button" class="btn btn-default" value="Compact" onclick="cssChangeStyle('compact');" />
  </div>
</div>

<hr/>

<div class="cards">
  {% for book in books %}
    {% for passage in highlighted %}
    <div class="card">
      <div class="overlay"></div>
      <img src="/static/zermatt.jpg" />
      <div class="inner-card">
        <p>{{book.author |safe }}</p>
        <hr>
        <p>{{book.title |safe }}</p>
        <p>{{passage |safe }}</p>
      </div>
    </div>
    {% endfor %}
  {% endfor %}
</div>

<table class="compact-table table table-condensed table-striped hide">
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Author</th>
      <th>Passage</th>
    </tr>
  </thead>
  <tbody>
  {% for book in books %}
    {% for passage in highlighted %}
      <tr>
        <td>{{ book.title |safe }}</td>
        <td>{{ book.author |safe }}</td>
        <td>{{ passage |safe }}</td>
      </tr>
    {% endfor %}
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block docviewer %}
<div>
  <span></span>
  <hr/>
  <span></span>
</div>
{% endblock %}