body { font-size: 12px; }
em { background-color: yellow; }
hr { width: 64%; }

table td:first-child { width: 24%; }
table td:nth-child(2) { width: 14%; }
table td:nth-child(3) { width: 62%; }

.row {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#sidebar-view {
  background-color: #131313;
  height: 100%;
}

.search-window { margin-top: 70px; }

  .search-text { text-align: center; }

  .search-text span:first-child {
    font-size: 38px;
    font-weight: 100;
  }

.search-input { text-align: center; }

  .search-input input { font-size: 117%; }

  .search-input button {
    background-color: #CE210F;
    color: white;
    border: 1px solid #131313;
    border-radius: 3px;
    font-weight: 400;
    padding: 3% 15% 3% 15%;
    margin: 3% 0 0 32%;
  }

#results-header h1 {
  font-size: 55px;
  font-weight: 100;
  color: #c5c5c5;
}

#results-view {
  overflow: scroll;
  height: 100%;
}

  #results-view .selected {
    border: 2px solid gray;
  }

#docviewer-view {
  height: 100%;
  border-left: 1px solid black;
  padding-left: 0;
}

  .docviewer-header {
    background-color: #CE210F;
    height: 20%;
  }

  .docviewer-title {
    color: white;
    font-size: 40px;
    padding-left: 23px;
  }

  .docviewer-author {
    float: right;
    font-size: 27px;
    font-weight: 100;
    color: white;
    padding-right: 20px;
  }